.chess-timer {
    margin: 80px 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(13, 73, 73);
    cursor: pointer;
    border-radius: 40px;
}
#chess-box h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: rgb(2, 2, 31);
}
.chess-timer-container {
    display: flex;
    justify-content: center;
}

.chess-timer p {
    border: 2px solid;
    border: none;
    background-color: rgb(88, 13, 76);
    padding: 30px 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    color: rgb(3, 3, 51);
}

#first-para {
    margin-right: 50px;
}

#swap-btn {
    margin-top: 40px;
    margin-left: 330px;
    padding: 17px;
    border-radius: 23px;
    background-color: rgb(114, 8, 24);
    border: none;
    color: rgb(14, 1, 5)
}

#swap-btn:hover {
    transition: 0.2s;
    background-color: lightgreen;
    color: lightyellow;
}

#swap-btn:active {
    background-color: lightpink;
    color: lightslategrey;
}

.btn-section button {
    margin-left: 400px;
    padding: 17px;
    border-radius: 23px;
    border: none;
    background-color: rgba(206, 115, 12, 0.863);
}